@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Secular+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1,
section h2 {
    font-family: 'Secular One', sans-serif;
    font-weight: normal;
}

header h1{
    font-size: 24px;
}
header{
    position: fixed;
    width: 100%;
    padding: 16px 0;
    background-color: #B00F15;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 42px;
}

header nav ul{
  display: flex;
}
header nav li {
    flex-direction: row;
    font-size: 18px;
    margin-left: 16px;
    list-style: none;
    backface-visibility: hidden;
    transition: ease-in-out 0.4ms;
    transform-style: preserve-3d;
}


header nav li a {
    text-decoration: none;
    color: gold;
    font-family:  open sans,Sans-serif;;
    
}

header nav li:hover{
    transform-style: preserve-3d;
    transform: scale(1.1);
    backface-visibility: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

section .container,
header .container,
#Livros{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container{
    align-items: center;
    padding-top: 50px;
    height: 100%;

}

#sobre .container {
    padding-top: 60px;
}

section{
    height: 100vh;
    padding-top: 50px;
}


#contatos{
    height: 90vh;
}

section h2 {
    margin-bottom: 16px;
    font-size: 30px;
}

section p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 32px;
    text-align: justify;
}

.inside {
    margin-right: 24px;
}

#catalogo .container,
#contatos .container{
    display: block;
}

.livro img {
    width: 223px;
    height: 345px;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.icones {
    display: flex;
    justify-content: space-between
}

.icones img{
    width: 64px;
    padding-right: 16px;
}
#sobre {
    padding-top: 0;
}

#catalogo{
    background-color: #b00f143e;
}

#contatos{
    background-color: rgba(255, 217, 0, 0.315);
}

#Livros {
    padding: 16px 0;
}

.livro img:hover {
    transform: scale(1.1);
}

.contact-methods {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
}

.container h3,h2 {
    margin-bottom: 16px;
    color: #B00F15 ;
}

form input, textarea,button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;

}

form button{
    background-color: gold;
    border-radius: 7%;
    border: none;
    color: #B00F15;
    cursor: pointer;
}

form button:hover {
    background-color: #B00F15;
    color: gold;
}

input:focus, textarea:focus {
    outline-color: #B00F15;
}

textarea{
    resize: none;
    height: 180px;
}

#sujestao textarea {
    height: 94px;
}

footer {
    padding: 8px;
    background-color: #B00F15;
    color: white;
    text-align: center;
}